{
  "presets": ["next/babel"],
  "plugins": [
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    "@babel/plugin-syntax-dynamic-import",
    ["@babel/plugin-proposal-class-properties", { "loose": true, "decoratorsBeforeExport": true }],
    ["module-resolver", {
      "root": ["."],
      "alias": {
        "components": "./components"
      },
      "cwd": "babelrc"
    }],
    [
      "import",
      {
        "libraryName": "antd",
        "style": true
      }
    ]
  ]
}